body {
    margin: 0;
    font-family: 'Roboto';
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    color: white;
}

.top-menu h2 {
    margin: 0;
}

.top-btn {
    background-color: transparent;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.top-btn.active {
    background-color: #4cb050;
}

.top-btn:hover,
.sub-btn:hover {
    background-color: #555;
}

.sub-menu {
    display: none;
    justify-content: center;
    background-color: #444;
    height: 50px;
}

.sub-menu.active {
    display: flex;
}

.sub-btn {
    background-color: transparent;
    margin-right: 15px;
    padding: 15px;
    border: 0;
    color: white;
    cursor: pointer;
}

.sub-btn.active {
    border-bottom: 5px solid #4caf50;
}

.page {
    display: block;
    background-color: #efefef;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

.table-page {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: #4898ff;
    color: #ffffff;
}

td,
th {
    padding: 5px;
}

tr {
    border: 1.1px solid black;
}

tbody tr:hover {
    background-color: #dedede;
    cursor: pointer;
}

.selected-row,
.selected-row:hover {
    background-color: #ccc;
}

.table-btn-container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.table-btn,
.form-btn {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    margin-bottom: 6px;
    padding: 6px 10px;
    border: 0;
    border-radius: 10px;
}

.table-btn:hover,
.table-btn.active {
    background-color: #f7f7b3;
    cursor: pointer;
}

.table-btn:nth-child(2).active,
.table-btn:nth-child(2):hover {
    background-color: lightskyblue;
}

.table-btn:nth-child(3).active,
.table-btn:nth-child(3):hover {
    background-color: lightcoral;
}

.form-container {
    display: block;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container input,
.form-container select {
    width: 250px;
    box-sizing: border-box;
}

.form-text {
    margin-bottom: 10px;
}

.error-text {
    margin: 0;
    color: #ff4141;
    font-size: 11px;
    font-weight: bold;
}

.form-btn:hover {
    background-color: #999;
    cursor: pointer;
}